html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: darkgrey;
}

.container {
    display: grid;
    grid-template-rows: 10vh 20vh 55vh 10vh;
    grid-gap: 10px;
}

header, main, aside, footer {
    background: #123456;
    color: white;
    padding: 10px;
    display: grid;
}

header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

main {
    grid-column-start: 1;
    grid-column-end: 3;
}

#box-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#box-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#box-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#content {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

aside {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

footer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}