html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: darkgrey;
}

.container {
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 15vh 67vh 15vh;
    grid-gap: 10px;
}

header, main, aside, footer {
    padding: 10px;
}

header, footer {
    grid-column: 1/3;
}

header {
    background: #123456;
    grid-row: 1/2;
}

main {
    background: #789012;
    grid-column: 1/2;
    grid-row: 2/3;
}

aside {
    background: #345678;
    grid-column: 2/3;
    grid-row: 2/3;
}

footer {
    background: #901234;
    grid-row: 3/4;
}